@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&family=Poppins:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ddd;
  font-family: Josefin Sans;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

%message {
  padding: 2em;
  width: 80%;
}

.container {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0.5) 75%
  );
  width: 100%;
  height: 100vh;
  border-radius: 1em;
  padding: 2em;
  display: flex;

  ul {
    height: 100%;
    width: 20%;
    background: #ccc;
    padding: 2em 0;

    li {
      font-size: 1.8em;
      padding: 1em 2em;
      list-style: none;
    }
  }

  .dashboard {
    @extend %message;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .posts {
      width: 48%;
      padding: 2em;
      background: #ccc;
      font-size: 1.3em;

      .post-head {
        display: flex;
        height: 5em;
        align-items: center;
        margin-bottom: 1em;

        img {
          height: 100%;
          border-radius: 50%;
        }

        .user-details {
          h3 {
            margin-bottom: 0.2em;
          }
        }
      }
    }

    .dashboard-section {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }

    .new-post {
      padding: 2em;
      height: 20em;
      background: #ddd;
      width: 48%;
      border-radius: 2em;

      h3 {
        font-size: 1.8em;
        margin-bottom: 0.5em;
      }
      form {
        height: 80%;
        width: 100%;
      }

      textarea {
        width: 100%;
        height: 75%;
        outline: none;
        // border: none;
        background: transparent;
        border: 1px solid black;
        padding: 1em;
        // column-width: 100%;
        margin-bottom: 0.5em;
        resize: none;
      }

      button {
        background: #2b6cb3;
        color: white;
        font-family: Josefin Sans;
        font-size: 1.2em;
        padding: 0.7em 1em;
        border: none;
        outline: none;
      }
    }

    .greeting {
      width: 48%;
      background: #ddd;
      padding: 2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20em;
      border-radius: 2em;

      section {
        text-align: center;
        h2 {
          font-size: 2.5em;
          // margin-bottom: 0.2em;
        }

        p {
          font-size: 1.5em;
          margin: 0.3em 0;
        }

        button {
          background: #2b6cb3;
          color: white;
          font-family: Josefin Sans;
          font-size: 1.2em;
          padding: 0.7em 1em;
          border: none;
          outline: none;
        }
      }

      img {
        height: 100%;
      }
    }

    .navBar {
      display: flex;
      justify-content: space-between;
      background: #ddd;
      height: 5em;
      margin: 1em 0;
      // overflow: hidden;

      form {
        input {
          width: 30em;
          height: 95%;
          background: transparent;
          border: none;
          outline: none;
          padding: 0 1em;
          border-bottom: 3px solid black;
        }
      }

      .user-details {
        display: flex;
        // border: 1px solid red;
        align-items: center;
      }

      .user-details div {
        // all: unset;
        // border: 1px solid red;
        // display: inline;
        padding: 1em;
        // background: unset;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        height: 100%;

        i {
          margin-right: 1em;
        }

        img {
          height: 100%;
          width: 2.5em;
        }
      }
    }
  }

  .video {
    @extend %message;

    .video-display {
      height: 50em;
      width: 80%;
      position: relative;

      video {
        width: 100%;
        height: 100%;
        margin-block: 2em 1em;
        // position: relative;
      }

      &:hover .video-controls {
        // display: block;
        opacity: 1;
      }

      .video-controls {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 5em;
        color: rgba(255, 255, 255, 0.5);
        padding: 2em;
        // display: none;
        opacity: 0;
      }
    }

    button {
      padding: 1em;
      background: #2b6cb3;
      color: white;
      border: none;
      outline: none;
      font-family: Josefin Sans;
      margin-inline: 0.2em;
    }
  }

  .music {
    @extend %message;

    .player-container {
      display: flex;
      .details,
      .player {
        width: 48%;
        padding: 20px;
      }

      .details {
        // height: 100%;

        ._one,
        ._two {
          height: 50%;
          overflow: scroll;

          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }
        h2 {
          font-size: 18px;
          margin-block: 10px;
          // position: static;
        }

        ul.list {
          all: initial;
        }
        li {
          padding: 5px;
          list-style: square;
          font-size: 12px;
        }
      }

      .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;

        .disc {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          // background: black;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-block: 20px;
          animation: playPause 15s 0s infinite normal forwards;
          animation-play-state: paused;
          // animation: name duration timing-function delay iteration-count direction fill-mode;

          .disc-cutter {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
          }
        }

        h4 {
          margin-block: 10px;
        }

        input {
          width: 90%;
        }

        .controls {
          margin-top: 10px;

          i {
            font-size: 30px;
            // color: rgb(105, 101, 101);
            margin-inline: 10px;
          }
        }
      }
    }
  }

  .community {
    @extend %message;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    .modal {
      background: #2b6cb3;
      color: white;
      padding: 0 2em;
      margin-block: 2em 1em;
      width: 40em;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 1.5em;
    }

    .form-switch {
      width: 35em;
      background: #ccc;
      border-radius: 5em;
      padding: 0.5em;
      height: 5em;

      button {
        width: 50%;
        height: 100%;
        background: #2b6cb3;
        color: white;
        border-radius: 5em;
        border: none;
        outline: none;

        &.signup-btn {
          background: rgb(255, 253, 253);
          color: #2b6cb3;
        }
      }
    }

    h2 {
      font-size: 1.8em;
      margin-block: 1em;
    }

    form {
      //   width: 100%;
      .register {
        flex-direction: row-reverse;
      }

      .login,
      .register {
        width: 40em;
        height: 4em;
        background: #ddd;
        margin-block: 1em;
        // position: relative;
        display: flex;

        input {
          width: 85%;
          height: 100%;
          background: transparent;
          padding-left: 1em;
          border: none;
          outline: none;
          color: black;
        }

        i {
          //   position: absolute;
          right: 0;
          background: #2b6cb3;
          color: white;
          font-size: 2em;
          //   padding: 0.5em;
          display: flex;
          align-items: center;
          justify-content: center;
          //   font-family: Josefin Sans;
          width: 15%;
          height: 100%;
        }
      }

      button {
        padding: 1em 3em;
        color: white;
        border: none;
        outline: none;
        background: #2b6cb3;
        font-family: Josefin Sans;
      }
    }
  }

  .product {
    @extend %message;

    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    button {
      padding: 1em 2em;
      border: none;
      border-radius: 0 1.5em 0 1.5em;
      outline: none;
      font-size: 1.3em;
      background: #2b6cb3;
      color: white;

      &:hover {
        background: white;
        color: #2b6cb3;
      }
    }

    .item {
      margin-top: 2em;
      display: flex;
      align-items: center;
      // justify-content: space-around;

      .prod-images,
      .product-data {
        width: 50%;
      }

      .product-data {
        // background-color: red;
        padding: 6em 3em;
        // display: flex;
        // flex-direction: column;
        // // align-items: center;
        // justify-content: center;
        h2 {
          font-size: 2em;
        }

        p {
          font-size: 1.6em;
          margin-block: 2em;
        }

        h3 {
          font-size: 1.5em;
          margin-bottom: 1em;
        }

        button {
          padding: 1em 2em;
          border: none;
          outline: none;
          font-size: 1.3em;
          background: #2b6cb3;
          color: white;
        }
      }

      .prod-images {
        .thumbnail {
          width: 100%;

          img {
            width: 100%;
            border-radius: 2em;
            height: 40em;
          }
        }

        .more-image {
          // background-color: red;
          width: 100%;
          display: flex;
          // justify-content: space-between;
          gap: 2em;
          margin-top: 2em;

          img {
            width: 20%;
            // height: 20em;
          }
        }
      }
    }
  }

  .content {
    @extend %message;
    font-family: Poppins;
    overflow: scroll;
    background: white;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    nav {
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
    }

    .banner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40em;

      .hero,
      img {
        width: 45%;
      }

      .hero {
        display: unset;
        h1 {
          font-size: 3.5em;
        }
        p {
          font-size: 1.5em;
          margin-block: 1em 2em;
        }
      }
    }

    .features {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 2.3em;
      }

      p {
        font-size: 1.3em;
        width: 60%;
        text-align: center;
        margin-block: 0.7em 1.2em;
      }

      .featurelists {
        display: flex;
        gap: 1.5em;

        .feature {
          width: 20%;
          position: relative;
          // transition: 2s ease;

          img {
            width: 100%;
            height: 100%;
          }

          div {
            background: rgba(0, 0, 0, 0.6);
            color: white;
            font-size: 1.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: 0.5s ease-in linear;
          }

          &:hover div {
            opacity: 1;
          }
        }
      }
    }

    .why-us {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-block: 3em;
      h3 {
        font-size: 2.3em;
      }

      p {
        font-size: 1.5em;
        margin-block: 0.7em 1.5em;
        width: 60%;
        text-align: center;
      }

      div {
        display: flex;
        justify-content: space-around;

        img,
        .reasons {
          width: 45%;
        }

        .reasons {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          li {
            all: unset;
            list-style: disc;
            font-size: 1.4em;
            margin-bottom: 0.5em;
          }
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      padding-top: 1em;

      h4 {
        font-size: 1.6em;
      }

      ol {
        list-style-type: disc;
        li {
          // all: unset;
          font-size: 1.3em;
          margin-block: 0.5em;

          &:hover {
            color: #2b6cb3;
            background: unset;
          }
        }
      }
      div {
        p {
          font-size: 1.2em;
          font-style: italic;
        }
      }
    }
  }

  .news {
    @extend %message;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    // width: 80%;

    &::-webkit-scrollbar {
      display: none;
    }

    .pre-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background: #ddd;
      overflow: hidden;

      img {
        width: 8em;
        height: 8em;
        animation: loading 2s 0s infinite linear;
      }
    }

    h1 {
      margin-bottom: 1em;
    }

    .news-items {
      display: flex;
      flex-wrap: wrap;
      gap: 3em;

      div {
        width: 30%;
        background: white;
        font-size: 1.2em;

        div {
          width: 100%;
          padding: 2em 1em;

          p.author {
            margin: 0.5em 0 0 0;
            font-style: italic;
            color: rgb(105, 101, 101);
            line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          p {
            margin-block: 1em 1.5em;
            line-height: 1.3;
          }

          a {
            padding: 1em 3em;
            background: #2b6cb3;
            border: none;
            color: white;
            text-decoration: none;
          }
        }

        img {
          width: 100%;
          height: 20em;
        }
      }
    }
  }

  .store {
    @extend %message;

    height: 100%;
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
    // position: relative;

    .showcart {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      // width: 100%;
      // height: 100vh;

      i {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 4em;
        color: white;
      }

      .cartList {
        background: white;
        padding: 2em;
        height: 50em;
        width: 80em;
        border-radius: 0.5em;
        overflow-y: scroll;
        scroll-behavior: smooth;
        // scrollbar-color: red;
        scrollbar-width: none;

        h2 {
          padding: 0.5em 1em;
          font-size: 2em;
          border-bottom: 3px solid #2b6cb3;
        }

        .cart-item {
          height: 15em;
          margin-top: 1em;
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 2px solid #2b6cb3;

          img {
            width: 40%;
            height: 100%;
          }
        }

        .cart-details {
          padding: 1em;

          h3 {
            font-size: 1.8em;
          }

          h4 {
            font-size: 1.6em;
            margin-block: 0.5em;
          }

          button {
            padding: 1em 2em;
            font-size: 1.1em;
            color: white;
            background: #2b6cb3;
            border-radius: 0 5em 0 5em;
            border: none;
            font-family: inherit;
          }
        }

        .subtotal {
          padding: 1em 1em 0;
          background: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8em;
          text-transform: uppercase;
          border-top: 3px solid #2b6cb3;
          margin-top: 0.5em;
          // position: static;
          // bottom: 0;
          // left: 0;
          // right: 0;
          // width: 100%;
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 2em;
      }
    }

    .items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 3em;

      div {
        width: 30%;
        background: rgba(255, 255, 255, 0.8);

        img {
          width: 100%;
          height: 18em;
        }

        div {
          width: 100%;
          padding: 1em;

          p {
            margin: 0.5em 0;
            font-size: 1.1em;
          }

          .price {
            font-size: 1.2em;
            color: red;
          }

          button {
            padding: 0.7em 1em;
            border: none;
            outline: none;
            background: green;
            color: white;
            font-family: Josefin Sans;
          }
        }
      }
    }

    h1 {
      letter-spacing: 0.3em;
      font-size: 2em;
      margin-bottom: 1em;
      position: static;
    }
  }
}

li:hover, .active li {
  background: #2b6cb3;

  color: white;
}

.store::-webkit-scrollbar {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(350deg);
  }
}

@keyframes playPause {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }


  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:480px) {
  .content{
    width: 90%;
    padding: 10px;

    nav {
      flex-direction: column;

    
    }

    

    .banner {
      flex-direction: column-reverse;
      // display: unset;
      width: 100%;
      gap:10px;
      height: unset;
      justify-content: flex-start;
      align-items: flex-start;
      padding: unset;
      border: 2px solid red;
    
    .hero, img{
      width: unset;
      border: 2px solid red;
    }

    .hero {
      // display: unset;
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
        margin-block: 1em 2em;
      }
    }
    }

    .features {
      .featurelists {
        flex-wrap: wrap;

        .feature {
          width: 40vw;
          border: 2px solid red;

          img {
            width: 100%
          }
        }
      }
    }
  }
}
